@font-face {
  font-family: "Steinbeck-Regular";
  src: url("../fonts/Steinbeck-Regular") format("ttf"),
  url("../fonts/Steinbeck-Regular") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Steinbeck-Regular";
  src: url("../fonts/Steinbeck-Regular") format("ttf"),
  url("../fonts/Steinbeck-Regular") format("ttf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: "Moderat-Regular";
  src: url("../fonts/Moderat-Regular") format("ttf"),
  url("../fonts/Moderat-Regular") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Moderat-Regular";
  src: url("../fonts/Moderat-Regular") format("ttf"),
  url("../fonts/Moderat-Regular") format("ttf");
  font-weight: normal;
  font-style: bold;
  font-display: swap;
}