
.main__title {
  font-family: "Steinbeck-Regular";
  font-weight: normal;
  font-size: 32px;
  background-image: 36px;

  width: 250px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.main_img {
  display: block;
  margin-left: auto;
  margin-right: auto;


  margin-top: 30px;
}